h3{
    color:#af249e;
}
h4{
    color: #7D28BC;
    font-style: normal;
    
}
.containerInfo{
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
}

.cadaUna{
    border-color: black;
    border-width: 1px;
    width:50%;
}
*{color:black}

.pics{
    width: 200px;
    height: auto;
    border-radius: 50%;
    border-width: 1px; 
}